In [1]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [2]:
print("hello developers")

hello developers

In [3]:
#numpy
lst = [1,2,3,4,5,6,7,8,9]

In [4]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [5]:
import numpy as np

In [6]:
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
arr1 = np.random.randint(10,100,size=(5,6))
arr1

array([[56, 45, 50, 89, 55, 17],
       [87, 54, 48, 82, 24, 63],
       [35, 75, 13, 77, 76, 15],
       [34, 14, 66, 24, 37, 96],
       [14, 53, 90, 49, 82, 39]])

In [8]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [9]:
import pandas as pd
df = pd.DataFrame(data = arr1)
df

    0   1   2   3   4   5
0  56  45  50  89  55  17
1  87  54  48  82  24  63
2  35  75  13  77  76  15
3  34  14  66  24  37  96
4  14  53  90  49  82  39